.button {
  display: block;
  margin-top: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $accent;
  border: 0;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-property: background-color, transform;
}
