.contacts {
  margin-right: 21px;
  padding: 0 20px;
  width: 310px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 300px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 100%;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  color: $accent;
  text-decoration: underline;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.contacts__icon {
  padding-right: 12px;
}

.contacts__email {
  font-size: 14px;
  line-height: 17px;
}

.contacts__tel {
  font-size: 16px;
  line-height: 32px;
}
