.location {
  margin: 0 auto;
  padding-top: 156px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: $desktop-width;

  @media (max-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 61px;
    padding-left: 0;
    padding-right: 0;
    width: 320px;
  }
}

.location__title {
  position: relative;
  width: 350px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.24px;
  color: $main-text;

  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.2px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    letter-spacing: 0;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -32px;
    width: 229px;
    height: 4px;
    background-color: $accent;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.location__text {
  padding-top: 19px;
  width: 350px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.46px;
  color: transparentize($main-text, 0.3);

  @media (max-width: $tablet-width) {
    width: 358px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.location__list {
  display: flex;
  flex-wrap: wrap;
  margin: 51px 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-min-width) {
    margin-top: 40px;
    padding: 0 56px;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    margin-top: 18px;
  }
}

.location__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 102px;
  min-width: 350px;
  min-height: 430px;


  &:nth-child(3) {
    margin-right: 0;
  }

  &:nth-child(4) {
    margin-left: 174px;
    margin-right: 120px;
  }

  @media (max-width: $desktop-min-width) {
    min-width: 288px;
    min-height: 425px;
    margin-right: 0;
    margin-bottom: 41px;

    &:nth-child(1),
    &:nth-child(3) {
      margin-right: 39px;
    }

    &:nth-child(4) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;

    &:nth-child(1),
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.location__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 430px;
  border: none;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }

  &--greece {
    background-image: url("../img/location-photo-greece@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/location-photo-greece@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/location-photo-greece-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/location-photo-greece-tablet@2x.jpg");
      }
    }
  }

  &--albania {
    background-image: url("../img/location-photo-albania@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/location-photo-albania@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/location-photo-albania-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/location-photo-albania-tablet@2x.jpg");
      }
    }
  }

  &--macedonia {
    background-image: url("../img/location-photo-macedonia@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/location-photo-macedonia@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/location-photo-macedonia-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/location-photo-macedonia-tablet@2x.jpg");
      }
    }
  }

  &--montenegro {
    background-image: url("../img/location-photo-montenegro@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/location-photo-montenegro@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/location-photo-montenegro-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/location-photo-montenegro-tablet@2x.jpg");
      }
    }
  }

  &--croatia {
    background-image: url("../img/location-photo-croatia@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/location-photo-croatia@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/location-photo-croatia-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/location-photo-croatia-tablet@2x.jpg");
      }
    }
  }
}

.location__details {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 155px;
  left: auto;
  z-index: 5;
  width: 266px;
  height: 77px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2;
  color: $white;
  opacity: 0.7;
  text-transform: uppercase;
  border: 1px solid $white;
}

.location__link:hover {
  filter: brightness(0.5);
}

.location__link:hover .location__details {
  display: flex;
}

.location__name {
  position: relative;
  z-index: 1;
  width: 215px;
  padding: 16px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.41px;
  background-color: $white;
  color: $main-text;
}
