.price {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px 138px;
  width: 100%;
  max-width: $desktop-width;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding: 0 0 91px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.price__wrapper {
  padding-top: 112px;
  width: 306px;

  @media (max-width: $tablet-max-width) {
    width: auto;
    order: 1;
    padding: 0 22px 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 22px 26px;
  }
}

.price__title {
  margin-top: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $main-text;

  @media (max-width: $tablet-max-width) {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 150%;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
  }
}

.price__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 170%;
  color: transparentize($main-text, 0.3);

  @media (max-width: $tablet-max-width) {
    text-align: center;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 170%;
  }
}

.price__list {
  display: flex;
  width: 770px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-max-width) {
    width: auto;
    padding: 0 71px 20px;
    order: 2;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0 16px 20px;
  }
}

.price__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;

  @media (max-width: $tablet-max-width) {
    align-items: center;
    margin: 0;
  }
}

.price__info-text {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $gray--dark;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 4px;
  }
}

.price__info-icon {
  margin-right: 17px;
  stroke: $accent;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.price__info-tel {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 32px;
  color: $black;

  @media (max-width: $tablet-max-width) {
    color: $accent;
    font-size: 18px;
    text-decoration: underline;
  }
}
