html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  font-family: $font-deafult;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  flex-grow: 1;
}
