html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-deafult;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
