// //Colors
$white: #ffffff;
$gray: #d7d9df;
$gray--light: #fdf8f8;
$gray--dark: #141517;
$accent: #fe7865;
$main-text: #2c2e3f;
$black: #000000;
$button-active: #f17d4b;
$nav-text: #48494d;
$promo-bg: #487698;
$callback-shadow: rgba(41, 54, 66, 0.1);
$callback-bg: #fbf8f8;

// Fonts
$font-deafult: "Montserrat", "Arial", sans-serif;

//Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$tablet-max-width: 1169px;
$desktop-min-width: 1210px;
$desktop-width: 1170px;
